*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}
body{
    background: #121212;
    color: #FFF;
}
img{
    max-width: 100%;
}
.wrapper{
    margin: 0;
    width: 100%;
    padding: 0 0 0 15%;
}
aside.menu{
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 15%;
    padding: 20px 20px calc(8% + 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
div.menu-top{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 15px;
    border-bottom: 2px solid #b3b3b3;
    padding: 0 0 20px;
    font-size: 16px;
    width: 100%;
}
img.logo{
    width: 80%;
    margin: 0 0 20px;
}
.menu-item{
    margin: 0;
    width: 100%;
}
.menu-item i{
    min-width: 30px;
}

div.menu-bottom{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    gap: 15px;
}



div.content{
    padding: 0;
}

nav{
    width: 100%;
    background: #000;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.nav-left{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}
.nav-left button{
    color: #b3b3b3;
    font: 18px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #000;
    border: none;
    border-radius: 50%;
}

.nav-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 60px;
}
.nav-page-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.page-list-item{
    transition: 0.3s;
    color: #b3b3b3;
}
.user-account{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.user-account button{
    color: #b3b3b3;
    background: none;
    border: 2px solid #b3b3b3;
    border-radius: 10px;
    padding: 5px 20px;
    font-size: 16px;
}
.user-account button:hover{
    color: #fff;
    border: 2px solid #FFF;
    cursor: pointer;
}
.main{
    padding: 20px;
}
.product-block{
    margin: 0 0 30px;
    width: 100%;
}
.criteria{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
h3.title{
    font-size: 20px;
}
h2.show-all{
    font-size: 15px;
    color: #b3b3b3;
}

div.product-list{
    margin:  20px 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}
.product-item{
    width: 180px;
    padding: 15px;
    border-radius: 15px;
    background-color: #000;
    position: relative;
}
img.product-image{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    object-fit: cover;
}
p.product-name{
    font-size: 18px;
    margin: 15px 0;
}
p.product-description{
    font-size: 14px;
}
button.play-song{
    background: #00E068;
    color: #000;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 115px;
    right: 25px;
    border: none;
    border-radius: 50%;
}