@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}
button:hover{
    cursor: pointer;
    transition: 0.3s;
}
section.login-banner{
    margin: 0;
}
section.login-content{
    border: 1px solid #aaa;
    margin: 20px auto;
    width: 100%;
    max-width: 650px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
    gap: 20px;
    border-radius: 5px;
}
h2.login-title{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    align-self: center;
}
h3.signup-recommend{
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0 50px;
    text-align: center;
    align-self: center;
}

div.enter-name{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
div.first-name, div.last-name{
    width: 48%;
}

p.info{
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}
div.email-field{
    width: 100%;
    position: relative;
}
input[type=email]{
    border: 1px solid #CCC;
    padding: 10px 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
}
div.toggle-password-type{
    width: 100%;
    position: relative;
}
input[type=password]{
    border: 1px solid #CCC;
    padding: 10px 25px 10px 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
}
input[type=text]{
    border: 1px solid #CCC;
    padding: 10px 25px 10px 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
}
span#toggle-password-button{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0,-50%);
    font-size: 16px;
}
span#toggle-password-button:hover{
    cursor: pointer;
}

div.login-alert{
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: red;
    display: none;
}

div.login-function{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: red;
}
div.login-agreement{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
div.login-agreement input[type=checkbox]{
    width: 20px;
    height: 20px;
    margin: 0 5px 0 0;
}

button.check-login{
    width: 100%;
    font-size: 24px;
    padding: 10px;
    border-radius: 5px;
    background-image: linear-gradient(to right,#F6ABCB, #F7B38C);
    line-height: 1;
    border: 1px solid #ccc;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
button.check-login:hover{
    cursor: pointer;
}
div.signup-option{
    width: 100%;
}
div.signup-option p{
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 15px;
}
div.signup-option .options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
div.signup-option button{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CCC;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    background: #EF3539;
}
div.signup-option button.facebook-signup{
    background: #3C6AB1;
}
div.signup-option button i{
    margin: 0 5px 0 0;
}